

<h1><%= @user.name %></h1>
<p><%= @user.email%></p>

<%= link_to 'Request Again', "/users/#{@user.id}/orders/new", :class =>"btn btn-success" %>

<h2>Current Pigglers' Orders are :</h2> 

<table class="table table-striped tabl ">
  <thead>
    <tr class="success">
      <th>Order Amount</th>
      <th>Location</th>
      <th>Extra </th>

     </tr>
  </thead>
   <tbody>
    <tr>
      <% @orders.each  do |order| %>
				<td><%= order.amount %> </td>
				<td><%= order.source %> </td>
				<td><%= link_to 'More Info', "/users/#{@user.id}/orders/#{order.id}" %></td>	

    </tr>
    <% end %>	 
  </tbody>



 





