    
<h2 class="current">Request a Piggy Bank</h2>
  <div>
  	<div id="input-wrapper">
      <p>What is your location?<input type="text" name="get-places" id="get-places"><p>
    </div>	
     <div id="map" style="width: 60%; height: 350px; margin:auto"> </div>
      <div id= "input-wrapper">
  		
  			<%= form_for [@user, @order]  do |f| %>
          <% if @user.errors.any? || @order.errors.any? %>
          <h3>Errors:</h3>
            <ul>
               <% @user.errors.full_messages.each do |usermessage| %>
                <li><%= usermessage %></li>
                <% end %>
              <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
          <div class="amount-text">
    				<%= f.hidden_field :source, readonly: true, :style=>"background-color : #e5e0e5" %>
    				<%= f.label "Amount: $" %>
    				<%= f.number_field :amount, placeholder: "Maximum of $200" %>
    				<%= f.button "Request Piggy", :onclick => "validateField();", :class => "btn btn-success"%>
            </div>
  			<% end %>	
      </div>
  </div>


