<h2>Current Piggler Order :</h2> 

<ul>
		<strong>Order Amount: $ </strong> <%= @order.amount %><br>
		<strong>Piggler's Location:</strong> <%= @order.source %> <br>
		<strong>	Order from:</strong> <%= @user_orderer.name %> <br>
		<% if @order.minutes != nil %>
		<strong>Approximate Time of Arrival of a Piggy: </strong><%= @order.minutes%><strong> minutes</strong> <br>
		<% end %>
		<% if can? :destroy, @order %>
			<%= link_to('Received', user_order_path(@user,@order), :class => "btn btn-success", method: :delete, data:{confirm: 'Now you will be charged to your credit card!'}) %>		
		<% end %>
</ul>
<hr>
<% if @user != @user_orderer %>
		<%= form_for [@user, @order] do |f| %>
			<%= f.hidden_field :source, readonly: true, :style=>"background-color : #e5e0e5" %>
			<%= f.label "Approximate time from Piggler?", :class => "approx" %>
			<%= f.number_field :minutes%>
			<span>minutes</span>
			<%= f.button "Post Piggy", :class => "btn btn-success post"%>
		<% end %>	
<%end %>

<%if current_user == @user_orderer %>
<%= link_to 'Request Again', "/users/#{@user.id}/orders/new", :class => "btn btn-success" %>
<%end%>

<hr>