<!DOCTYPE html>
<html>
  <head>
    <title>PigglerApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC02n50OZ-caxOl402BAgExv-cGXEyMXrE&libraries=places"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <% if user_signed_in?%>
      <%= render "layouts/navbar" %>    
    <% end %>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= javascript_include_tag 'application' %>
    <div class="footer">
      <footer class="footer">
      <p>© 2016 PigglerApp</p>
    </footer> 
    </div>
  </body>
</html>
