<!DOCTYPE html>
<html>
  <head>
    <title>PigglerApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.25&libraries=places,geometry&key=AIzaSyCj2C5TJ8rawKmjmEE55M0Id5lGl5G5SDw"></script>
    
  </head>

  <body>

  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div id="top_bar">
	  		<% if user_signed_in? %>
	    <p><%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %></p>
	  		<% else %>
	    <p>
	      <%= link_to 'Sign_up', new_user_registration_path %> | 
	      <%= link_to 'Sign_in', new_user_session_path %>
	    </p>
	 		  <% end %>
		</div>


    <%= yield %>
  </body>
</html>
