<!DOCTYPE html>
<html>
  <head>
    <title>PigglerApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.25&libraries=places,geometry&key=AIzaSyCj2C5TJ8rawKmjmEE55M0Id5lGl5G5SDw"></script>
    
  </head>

  <body>
   <% if user_signed_in? %>
            <%= render "layouts/navbar" %>    
   <% end %>

  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    

    <%= yield %>


  </body>

</html>
